@CHARSET "UTF-8";
.table_border{  
    border: solid 1px #B4B4B4;  
    border-collapse: collapse;     --折叠样式.  
}  
.table_border tr th{  
    background:url("../../images/gray/bg_table_th.gif") repeat;  
    padding-left:4px;  
    height:27px;  
    border: solid 1px #B4B4B4;  
}  
.table_border tr td{  
    height:25px;  
    padding:4px;  
    border: solid 1px #B4B4B4;  
}  